{% extends 'base.html.twig' %}

{% block title %}Groups{% endblock %}

{% block body %}
    <h1 class="h2">Groups</h1>
    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(groups, 'Name', 'a.name') }}</th>
                <th>Measurement Sources</th>
                <th>{{ knp_pagination_sortable(groups, 'Created At', 'a.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(groups, 'Updated At', 'a.updatedAt') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
                <tr>
                    <td>
                        <a href="{{ path('measurement_by_group', {'groupId': group.getId()}) }}">{{ group.getName() }}</a>
                    </td>
                    <td>
                        {% for source in group.getMeasurementSources() %}
                            <a href="{{ path('measurement_by_source', {'sourceId': source.getId()}) }}">{{ source.getName() }}</a>
                        {% endfor %}
                    </td>
                    <td>{{ group.getCreatedAt()|date("c") }}</td>
                    <td>{{ group.getUpdatedAt()|date("c") }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(groups) }}
    </div>
{% endblock %}
